<!DOCTYPE html>
<html>
<head>
	<title>Semi-RESTful Users</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<style type="text/css">
		.row:nth-of-type(even){
			background: lightgray;
		}

		.container-fluid {
			width: 90%
		}

		.table {
			border: 2px solid black;
		}
	</style>
</head>
<body>
	<div class='container-fluid'>
		<div class="row">
			<div class="col-sm-12"><h1>Users</h1></div>
		</div>
		<div class="row table">
			<div class="col-sm-1">
				{% for item in users%}
					<div class="row">
						{{item.id}}
					</div>
				{%endfor%}
			</div>
			<div class="col-sm-3">
				{% for item in users%}
					<div class="row">
						<a href="/users/{{item.id}}">{{item.first_name}} {{item.last_name}}</a>
					</div>
				{%endfor%}
			</div>
			<div class="col-sm-3">
				{% for item in users%}
					<div class="row">
						{{item.email}}
					</div>
				{%endfor%}
			</div>
			<div class="col-sm-3">
				{% for item in users%}
					<div class="row">
						{{item.created_at}}
					</div>
				{%endfor%}
			</div>
			<div class="col-sm-2">
				{% for item in users%}
					<div class="row">
						<a href="/users/{{item.id}}">Show</a>  |  <a href="/users/{{item.id}}/edit">Edit</a>  |  <a href="/users/{{item.id}}/delete">Delete</a>
					</div>
				{%endfor%}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="users/add">Add a new user</a>
			</div>
		</div>
	</div>
</body>
</html>